<!-- footer section -->
<div class="left">
    <label>© Copyright <span id="copyrightYear"></span>, Meridian, Idaho.
        All Rights Reserved. <a href="/government/privacy.html">Privacy Statement</a>&nbsp;&nbsp;<a href="/WebsiteTermsOfUse.pdf">Terms of Use</a></label>
    </div>
    <div class="right">
        <a href="https://www.google.rs/maps/place/33+E+Broadway+Ave,+Meridian,+ID+83642,+USA/@43.6096586,-116.3930485,17z/data=!3m1!4b1!4m2!3m1!1s0x54ae53eebf1da993:0xa776b59a83317ee1?hl=en" target="_blank">
            33 E. Broadway Ave., Meridian, Idaho 83642
            <label>View on Map</label>
        </a>  <span>|</span>
        <label>Phone: 208.888.4433</label>
    </div>
</div>

<script>var date = new Date().getFullYear(); document.getElementById("copyrightYear").innerHTML = date;</script>
