
<footer class="footer py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<img class="img-fluid footer-logo mt-3" src="img/MeridianLogo-WY-M.png">
				<h5 class="mt-3">Mission:</h5>
				<p class="ml-2 mt-2">We love Meridian; it’s our town and our mission is to cultivate a vibrant community by delivering superior service through committed, equipped employees dedicated to the stewardship of our community’s resources.</p>
				<h5 class="mt-3">Vision</h5>
				<p class="ml-2 mt-2">By 2035, Meridian will be the West’s premier community in which to live, work and raise a family.</p>
			</div>
			<div class="col-md-4 py-4">
				<h5>Contact:</h5>
				<p><a href="http://internalapps/employees/search.aspx"><strong>Employee Directory</strong></a></p>
				<p><a href=""><strong>Compliance & Ethics Hotline</strong></a></p>
				<h5>Helpdesk:</h5>
				<p><a href="http://support/support/Tickets/New"><strong>New Ticket</strong></p>
				<p><a href="tel:208-489-0500"><strong>208-489-0500</strong></a></p>
				</div>
			</div>
		</div>
	</footer>

		<!--Employee Directory

Compliance & ethics hotline

supervisors: 
	-badge access reports
	-internet history reports-->
