	<nav class="navbar navbar-expand-lg navbar-light py-3 mt-2">
		<div class="container">
		<a class="navbar-brand" href="#">
			<img src="img/MeridianLogo-WY-M.png" alt="City of Meridian Logo" id="logo" class="logo pb-3">
		</a>
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>-->
<div class="collapse navbar-collapse pb-3" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item dropdown h4">
			<a class="nav-link dropdown-toggle mcity" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">People & Teams</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a href="" class="dropdown-item">City Clerk</a>
				<a href="" class="dropdown-item">Community Development</a>
				<a href="" class="dropdown-item">Finance</a>
				<a href="" class="dropdown-item">Fire</a>
				<a href="" class="dropdown-item">Human Resources</a>
				<a href="" class="dropdown-item">Information Technology</a>
				<a href="" class="dropdown-item">Legal</a>
				<a href="" class="dropdown-item">Parks and Recreation</a>
				<a href="" class="dropdown-item">Planning</a>
				<a href="" class="dropdown-item">Police</a>
				<a href="" class="dropdown-item">Public Works</a>
				<a href="" class="dropdown-item">Wastewater</a>
				<a href="" class="dropdown-item">Water</a>
			</div>
		</li>
		<li class="nav-item dropdown h4">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Life & Career</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a href="" class="dropdown-item">Contact</a>
				<a href="" class="dropdown-item">Professional Development</a>
				<a href="" class="dropdown-item">Recognition</a>
				<a href="" class="dropdown-item">Wellness</a>
			</div>
		</li>
		<li class="nav-item dropdown h4 mr-lg-4">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work Resources</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a href="" class="dropdown-item">Employee directory</a>
				<a href="" class="dropdown-item">My Emergency Contacts</a>
				<a href="" class="dropdown-item">Timecard</a>
				<a href="" class="dropdown-item">Password Help</a>
				<a href="" class="dropdown-item">Supervisor tools</a>
			</div>
		</li>
	</ul>
	<form class="form-inline ml-lg-4">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
	</form>
</div>
</nav>
