<div class="menu-header no-print">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo-wrapper">
          <a href="https://meridiancity.org/" class="logo newpage">
            <img width="162" height="48" src="https://meridiancity.org/mcity-theme/assets/img/logo@2x.png" alt="City of Meridian Logo" /></a>
          </div>
          <div class="navigation-wrapper">
            <nav class="navigation-content">
              <ul>
                <li>

                </li>
              </ul>
            </nav>
          </div>

          <li class="nav-search">
            <a href="#">
              <div id="searchlabel" class="max-width-55">Search</div>
              <span class="bottom-line"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-search-mobile"><a href="#"><span>Search</span></a></div>
    <div class="nav-menu-mobile">
      <a href="#"><i class="icon icon-search-close"></i></a>
    </div>
    <div class="search-popup">	 	
      <div>                                
        <button id="searchsubmit-header" class="button" type="submit" onclick="form.submit();"><i class="icon icon-search-close"></i>
        </button>
        <input type="text" placeholder="Search" id="search-header" class="addsearch" style="width: 200px; padding: 0; margin: 0" />
        <script type="text/javascript" src="https://addsearch.com/js/?key=">
        </script>
      </div>
    </div>
  </div>
</div>


