<div class="container">
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#"><img src="{{ site.baseurl }}/assets/img/MeridianLogo.png" alt="City of Meridian Logo" id="logo" class="logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="http://intranet/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a href="http://intranet/wellness/index.html" class="nav-link">Wellness</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Departments
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a href="http://intranet/clerk/index.html" class="dropdown-item">City Clerk</a>
						<a href="http://intranet/community-development/index.html" class="dropdown-item">Community Development</a>
						<a href="http://intranet/finance/index.html" class="dropdown-item">Finance</a>
						<a href="http://intranet/fire/index.html" class="dropdown-item">Fire</a>
						<a href="http://intranet/hr/index.html" class="dropdown-item">Human Resources</a>
						<a href="http://intranet/it/index.html" class="dropdown-item">Information Technology</a>
						<a href="http://intranet/legal/index.html" class="dropdown-item">Legal</a>
						<a href="http://intranet/parks/index.html" class="dropdown-item">Parks and Recreation</a>
						<a href="http://intranet/police/index.html" class="dropdown-item">Police</a>
						<a href="http://intranet/public-works/index.html" class="dropdown-item">Public Works</a>
						<a href="http://intranet/wastewater/index.html" class="dropdown-item">Wastewater</a>
						<a href="http://intranet/water/index.html" class="dropdown-item">Water</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Resources
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a href="http://internalapps/employees/search.aspx" class="dropdown-item">Employee directory</a>
						<a href="http://intranet/innovation/index.html" class="dropdown-item">Innovation &amp; Change Academy</a>
						<a href="http://internalapps/EmergencyContacts/ModifyMyEmergencyContact.aspx" class="dropdown-item">My Emergency Contacts</a>
						<a href="http://timecard/WeeklyTimeCard.aspx" class="dropdown-item">Timecard</a>
						<a href="https://support.meridiancity.org/pwreset/" class="dropdown-item">Reset Password</a>
						<a href="https://meridiancity.org/CCOM/" class="dropdown-item">Manage City Email Subscriptions</a>
						<a href="http://intranet/communication/index.html" class="dropdown-item">Communications Resources</a>
						<a href="http://sqlreport2/Reports_SSRS/report/Badge%20Access%20Reports/BadgeAccessReport" class="dropdown-item">Badge Access Report (Supervisors Only)</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
