<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/page.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500|Raleway:300,400,500,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/css/flexnav.css">
    {% if page.theme_css %}
    {% for themecss_file in page.theme_css %}
    <link href='{{ site.baseurl }}/assets/css/{{ themecss_file }}.css' type="text/css" rel="stylesheet">
    {% endfor %}
    {% endif %}
    {% if page.custom_css %}
    {% for css_file in page.custom_css %}
    <link href='{{ site.baseurl }}/css/{{ css_file }}.css' type="text/css" rel="stylesheet">
    {% endfor %}
    {% endif %}
</head>
<body>
    <header>
        <div class="d-flex justify-content-start">
            <div class="container">
            {% include header.html %}
            </div>
        </div>
    </header>
    <main class="container">
        <h1>{{ page.title }}</h1>
        <hr>
        {{ content }}
        <br>
    </main>
    <footer>
        {% include footer.html %}
    </footer>
    <!-- Bootstrap Files -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Page JS -->
    <script src="js/page.js"></script>
</body>
</html>
